.hello{
    color:black;
}
.full {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f7f7f7;
}

.hello {
    text-align: center; /* Centers the heading text */
    margin-bottom: 20px; /* Adds space below the heading */
}

input {
    display: block;
    margin: 10px auto; 
    padding: 10px;
    width: 80%; 
    max-width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 10px auto; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f17916;
}

div > p {
    text-align: center;
    margin-top: 20px; 
    text-decoration:black;
}

.full{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-position: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:100vh;
    justify-content: center;
}